.idiomaNavbar {
    margin-right: 10px;
    background: transparent;
    border: none;
    padding: 2px;
    font-size: 0.75rem;
    cursor: pointer;
    color: #ffffff;
}
/* .navbar-home {

margin-top: -5px;
} */

@media (min-width: 1024px) {
.navbar-home {

margin-top: 0;
}
.idiomaNavbar {

    margin-top: 50px;
    margin-right: 10px;
    background: transparent;
    border: none;
    padding: 2px;
    font-size: 0.75rem;
    cursor: pointer;
    color: #ffffff;
}
}